@model IEnumerable<Book>

@{
    ViewData["Title"] = "Book List";
}

<h1>Book List</h1>
<p> Welcome to the book index page! </p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Page</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.Page</td>
                <td>@book.Category</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.BookId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@book.BookId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Book</a>
